#sjs-editor-container .spg-search-editor_input {
    color: var(--sjs-general-forecolor, var(--foreground, #161616));
    font-family: var(--sjs-font-family, var(--font-family));
    font-size: calc(1.5*(var(--sjs-base-unit, var(--base-unit, 8px))));
    font-style: normal;
    font-weight: 600;
    line-height: calc(2*(var(--sjs-base-unit, var(--base-unit, 8px))));
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    background: rgba(0,0,0,0);
    box-sizing: border-box;
    width: 100%;
    outline: none;
    padding-inline-start: var(--sjs-base-unit, var(--base-unit, 8px));
    padding-inline-end: var(--sjs-base-unit, var(--base-unit, 8px));
}

#sjs-editor-container .spg-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    background-color: var(--sjs-general-backcolor, var(--background, #fff));
    box-sizing: border-box;
    width: 100%;
    height: calc(6*(var(--sjs-base-unit, var(--base-unit, 8px))));
    border: none;
    box-shadow: inset 0 0 0 1px var(--sjs-border-inside, var(--border-inside, rgba(0, 0, 0, 0.16)));
    padding: calc(1.5*(var(--sjs-base-unit, var(--base-unit, 8px)))) calc(2*(var(--sjs-base-unit, var(--base-unit, 8px))));
    outline: none;
    font-size: calc(2*(var(--sjs-base-unit, var(--base-unit, 8px))));
    font-family: var(--sjs-font-family, var(--font-family));
    color: var(--sjs-general-forecolor, var(--foreground, #161616));
}

#sjs-editor-container .spg-input:focus,
#sjs-editor-container .spg-input.spg-dropdown:focus,
#sjs-editor-container .spg-input.spg-dropdown:focus-within,
#sjs-editor-container .spg-input-container:focus-within {
  box-shadow: inset 0 0 0 2px var(--sjs-primary-backcolor, var(--primary, #19b394));
}

#sjs-editor-container .sd-dropdown__filter-string-input {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    padding: 0;
    font-family: var(--sjs-font-editorfont-family, var(--sjs-font-family, var(--font-family, var(--sjs-default-font-family))));
    font-weight: var(--sjs-font-editorfont-weight, 400);
    color: var(--sjs-font-editorfont-color, var(--sjs-general-forecolor, rgba(0, 0, 0, 0.91)));
    font-size: var(--sjs-mobile-font-editorfont-size, var(--sjs-font-editorfont-size, var(--sjs-font-size, 16px)));
    line-height: calc(1.5*(var(--sjs-mobile-font-editorfont-size, var(--sjs-font-editorfont-size, var(--sjs-font-size, 16px)))));
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    appearance: none;
}

#sjs-editor-container input.disabled,
#sjs-editor-container input:disabled, 
#sjs-editor-container select.disabled, 
#sjs-editor-container select:disabled, 
#sjs-editor-container textarea.disabled, 
#sjs-editor-container textarea:disabled {
    box-shadow: none;
  }


#sjs-editor-container .spg-input-container__input {
    flex-grow: 1;
    width: 100%;
    padding: var(--sjs-base-unit, var(--base-unit, 8px)) calc(1.5*(var(--sjs-base-unit, var(--base-unit, 8px))));
    color: var(--sjs-general-forecolor, var(--foreground, #161616));
    font-size: calc(2*(var(--sjs-base-unit, var(--base-unit, 8px))));
    font-family: var(--sjs-font-family, var(--font-family));
    outline: none;
    border: none;
    line-height: calc(3*(var(--sjs-base-unit, var(--base-unit, 8px))));
    background-color: rgba(0, 0, 0, 0);
}

#sjs-editor-container  .spg-input-container {
    display: flex;
    justify-content: space-between;
    cursor: default;
    padding: calc(0.5*(var(--sjs-base-unit, var(--base-unit, 8px))));
    align-items: center;
    gap: calc(0.5*(var(--sjs-base-unit, var(--base-unit, 8px))));
    box-shadow: 0 0 0 1px inset var(--sjs-border-inside, var(--border-inside, rgba(0, 0, 0, 0.16)));
}